@font-face {
    font-family: bold;
    src: url("../assets/fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: italic;
    src: url("../assets/fonts/Poppins-BoldItalic.ttf");
}
@font-face {
    font-family: regular;
    src: url("../assets/fonts/Poppins-Regular.ttf");
}
*, *::before, *::after {
  box-sizing: border-box;
}


* {
  margin: 0;
}

html, body {
    min-block-size: 100%;
    block-size: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: regular;
}


img {
  display: block;
  max-width: 100%;
}

input {
  font: inherit;
}

.main {
    block-size: 100%;
    background-color: hsl(0, 0%, 94%);
    display:flex;
    align-items:center;
    justify-content: center;
}

.container {
    max-inline-size: 34.375rem;
    inline-size: 100%;
    background-color: hsl(0, 0%, 100%);
    padding: 1.7rem;
    border-radius: 1rem;
    border-end-end-radius: 5rem;
}


.fieldset {
    display: flex;
    max-width: 400px;
    margin-block-end: 3rem;
    border: none;

    .grey-border {
        border: 1px solid hsl(0, 1%, 44%);
    }
    .red-border {
        border: 1px solid red;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
  }

.input-age {
    inline-size: 100%;
    display: flex;
    flex-direction: column;

    small, label {
        color: hsl(0, 1%, 44%);
        margin-block: 0.100rem;
        margin-inline-end: 0.5rem;
        font-size: 0.550rem;
        font-family: bold;
    }

    label {
        letter-spacing: 0.0500rem;
        text-transform: uppercase;
    }

    input {
        inline-size: 100%;
        max-inline-size: 85px;
        padding: 0.300rem 0.500rem;
        outline: none;
        border: 1px solid hsl(0, 1%, 44%);
        border-radius: 0.2rem;
        font-family: bold;
        font-size:1.5rem;
        cursor: pointer;
    }

    input:hover {border: 1px solid hsl(259, 100%, 65%);}
}

.hr-line {
    background-color: hsl(0, 0%, 86%);
    inline-size: 100%;
    block-size: 0.063rem;
    margin-block-end: 1.9rem;
    position: relative;
}


.container-icon-arrow {
    inline-size: 3.125rem;
    block-size: 3.125rem;
    border-radius: 50%;
    position: absolute;
    background-color: hsl(259, 100%, 65%);
    padding: 0.800rem;
    top: -1.55rem; right: 0;
    border: none;
    cursor:pointer;
}

small.err, label.err {
    color: red;
}

.container-icon-arrow:hover {
    background-color: hsl(0, 0%, 8%);
}

.container-output-age {
    p {
        color: hsl(0, 0%, 8%);
        font-family: bold;
        font-size: 3rem;
        time {
            color: hsl(259, 100%, 65%);
        }
    }
}

@media  screen and (max-width: 391px) {
    
    .container-icon-arrow {
        transform: translateX(-50%);
        left: 50%;
    }
}